# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache

# Virtual environments
venv/
.env
.venv/
__pycache__/

# Large demo/indexing datasets are not required for container startup
data/ai-search-index/
data/pred_maint/
data/ag-demo-retail/
data/ag-demo-safety/
data/ag-demo-fsi-upsell/


# Editor directories and files
.vscode/
.idea/

# OS files
.DS_Store

.git*
**/*.pyc
